*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 12%;
    background-color: #2A2B30;
}

.clear-both-before {
    content: '';
    clear: both;
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

a:hover {
    text-decoration: none;
}

.error-msg {
    color: white;
}