<span class="add-like" {{action "addLike" on="click"}}>{{fa-icon "fa-solid fa-thumbs-up"}}</span>
<span class="remove-like" {{action "disLike" on="click"}}>{{fa-icon "fa-solid fa-thumbs-down"}}</span>
