<form class="add-comment-form" {{action "addComment" on="submit"}}>
    {{textarea value=comment placeholder="Add your comment..."}}
    <button type="submit">{{fa-icon "fa-solid fa-paper-plane"}}</button>
</form>

